BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
PointerAlignment: Right
AlwaysBreakAfterReturnType: TopLevel

# disable one line definitions
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
